In [146]:
import pandas as pd
import numpy as np

In [216]:

game_reviews= pd.read_csv("game_reviews.csv", index_col= False)

In [217]:
reviews=game_reviews["review"]

In [218]:
reviews

0        Simple yet with great replayability. In my opi...
1                     It's unique and worth a playthrough.
2        Great atmosphere. The gunplay can be a bit chu...
3        I know what you think when you see this title ...
4        For a simple (it's actually not all that simpl...
                               ...
59328    a must have classic from steam definitely wort...
59329    this game is a perfect remake of the original ...
59330    had so much fun plaing this and collecting res...
59331                                                   :D
59332                                       so much fun :D
Name: review, Length: 59333, dtype: object

In [219]:
from random import choices


df=choices(reviews, k=1000)
df=pd.DataFrame(df)

In [220]:
df.columns=["mensaje"]

In [221]:
df.head()

                                             mensaje
0  A Really fun game with good content and a grea...
1  Ïù¥Í≤åÏûÑÏùÄ ÏÑúÌè¨Ìä∏ÌïúÍ∞úÎßå ÎßåÎ†ôÌïòÎ©¥ Í...
2  EVERYONE NEEDS TO PLAY THIS. I played it like ...
3                                      hard and fun!
4  "Dost thou insist to fill the world with vicio...

In [222]:
game_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59333 non-null  object
 1   user_url     59333 non-null  object
 2   funny        8151 non-null   object
 3   posted       59305 non-null  object
 4   last_edited  6140 non-null   object
 5   item_id      59305 non-null  float64
 6   helpful      59305 non-null  object
 7   recommend    59305 non-null  object
 8   review       59275 non-null  object
dtypes: float64(1), object(8)
memory usage: 4.1+ MB

In [223]:
game_reviews["review"]=game_reviews["review"].str.replace(r"[\"\'\|\?\=\.\@\#\*\,\.\!\/\:\-\‚ô•\<\>√â\+\D]", '',regex=True)

In [150]:
game_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59333 non-null  object
 1   user_url     59333 non-null  object
 2   funny        8151 non-null   object
 3   posted       59305 non-null  object
 4   last_edited  6140 non-null   object
 5   item_id      59305 non-null  float64
 6   helpful      59305 non-null  object
 7   recommend    59305 non-null  object
 8   review       59275 non-null  object
dtypes: float64(1), object(8)
memory usage: 4.1+ MB

In [224]:
#codigo para borrar caracterres raros
df['mensaje'] = df['mensaje'].str.replace(r"[\"\'\|\?\=\.\@\#\*\,\.\!\:\-\‚ô•\<\>√â\+]", '',regex=True)

In [225]:
df["mensaje"]

0      A Really fun game with good content and a grea...
1      Ïù¥Í≤åÏûÑÏùÄ ÏÑúÌè¨Ìä∏ÌïúÍ∞úÎßå ÎßåÎ†ÌïòÎ©¥ Í≤...
2      EVERYONE NEEDS TO PLAY THIS I played it like i...
3                                           hard and fun
4      Dost thou insist to fill the world with viciou...
                             ...
995    Awesome gameWith cool cutsomizations to put on...
996    VERY GOOD GAME Much atmosphere solid game wow ...
997                                     very fun to play
998                        really good game thanks scott
999    This game is a ridiculous open world action ga...
Name: mensaje, Length: 1000, dtype: object

In [227]:
df1=df.copy()

In [2]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download("vader_lexicon")
nltk.download('vader_lexicon_es')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\beren\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Error loading vader_lexicon_es: Package 'vader_lexicon_es'
[nltk_data]     not found in index

False

In [88]:
game_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59333 non-null  object
 1   user_url     59333 non-null  object
 2   funny        8151 non-null   object
 3   posted       59305 non-null  object
 4   last_edited  6140 non-null   object
 5   item_id      59305 non-null  float64
 6   helpful      59305 non-null  object
 7   recommend    59305 non-null  object
 8   review       59275 non-null  object
dtypes: float64(1), object(8)
memory usage: 4.1+ MB

In [89]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download("vader_lexicon")
sid=SentimentIntensityAnalyzer()
df1["Sentiment"]=df1["mensaje"].astype(str).apply(lambda i: sid.polarity_scores(i)["compound"])

In [101]:

game_reviews["Sentiment"]=game_reviews["review"].astype(str).apply(lambda i: sid.polarity_scores(i)["compound"])

In [228]:
df1["Sentiment"]=df1["mensaje"].astype(str).apply(lambda i: sid.polarity_scores(i)["compound"])

In [151]:
game_reviews["review"].replace("", np.nan, inplace=True)
#game_reviews.fillna(np.nan, inplace=True)
#game_reviews["review"].fillna(np.nan,inplace=True)

In [152]:
game_reviews

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted November 5, 2011.",NaN,1250.0,No ratings yet,True,4
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted July 15, 2011.",NaN,22200.0,No ratings yet,True,NaN
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted April 21, 2011.",NaN,43110.0,No ratings yet,True,NaN
3,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted June 24, 2014.",NaN,251610.0,15 of 20 people (75%) found this review helpful,True,36088
4,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted September 8, 2013.",NaN,227300.0,0 of 1 people (0%) found this review helpful,True,NaN
...,...,...,...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 10.,NaN,70.0,No ratings yet,True,NaN
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 8.,NaN,362890.0,No ratings yet,True,NaN
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,NaN,273110.0,1 of 2 people (50%) found this review helpful,True,NaN
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,Posted July 20.,NaN,730.0,No ratings yet,True,NaN
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,Posted July 2.,NaN,440.0,No ratings yet,True,NaN

In [235]:
df6["mensaje"].fillna("", inplace=True)

C:\Users\Public\Documents\iSkysoft\CreatorTemp\ipykernel_2692\198515902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6["mensaje"].fillna("", inplace=True)

In [238]:
df6["mensaje"]

1      Ïù¥Í≤åÏûÑÏùÄ ÏÑúÌè¨Ìä∏ÌïúÍ∞úÎßå ÎßåÎ†ÌïòÎ©¥ Í≤...
4      Dost thou insist to fill the world with viciou...
10                                     Hype out of skype
12     I swear to god this game is Bains side project...
13     I think i am a mediocre to decent player at ra...
                             ...
973    i beat one of the most annoying bosses in the ...
979                                                 5555
980          Spinos make me want to ing kill myself10/10
983    I met up with a group of friends It took about...
990                                   yusysuyusyusyusyus
Name: mensaje, Length: 387, dtype: object

In [ ]:
from langdetect import detect

df6["idioma"] = df6["mensaje"].map(lambda x: detect(str(x)) if x != "" else None)

In [241]:
from langdetect import detect, LangDetectException

# Función para detectar el idioma de un texto
def detectar_idioma(texto):
    if len(texto) >= 3:  # Establece un límite mínimo de longitud del texto
        try:
            return detect(str(texto))
        except LangDetectException:
            pass
    return None

# Aplica la detección de idioma solo a la columna "mensaje"
df6["idioma"] = df6["mensaje"].map(detectar_idioma)

C:\Users\Public\Documents\iSkysoft\CreatorTemp\ipykernel_2692\3412077583.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6["idioma"] = df6["mensaje"].map(detectar_idioma)

In [242]:
df6

                                               mensaje  Sentiment idioma
1    Ïù¥Í≤åÏûÑÏùÄ ÏÑúÌè¨Ìä∏ÌïúÍ∞úÎßå ÎßåÎ†ÌïòÎ©¥ Í≤...     0.0000     vi
4    Dost thou insist to fill the world with viciou...    -0.3612     en
10                                   Hype out of skype     0.0000     en
12   I swear to god this game is Bains side project...    -0.4588     en
13   I think i am a mediocre to decent player at ra...    -0.2983     en
..                                                 ...        ...    ...
973  i beat one of the most annoying bosses in the ...    -0.7645     en
979                                               5555     0.0000   None
980        Spinos make me want to ing kill myself10/10    -0.6597     af
983  I met up with a group of friends It took about...    -0.8834     en
990                                 yusysuyusyusyusyus     0.0000     tl

[387 rows x 3 columns]

In [244]:
df7=df6[(df6["idioma"]!="en")]

In [245]:
df7.shape

(153, 3)

In [1]:
from deep_translator import GoogleTranslator
from google_trans_new import GoogleTranslator

ImportError: cannot import name 'GoogleTranslator' from 'google_trans_new' (c:\Users\beren\AppData\Local\Programs\Python\Python310\lib\site-packages\google_trans_new\__init__.py)

In [ ]:

from google_trans_new import google_translator
translator = google_translator)  
translated = translator.translate(df_todos1['Titular'], lang_src='es', lang_tgt='en')  
print(translated)

In [25]:
import string
for row in df:
    row.translate(str.maketrans('', '', string.punctuation))