def userdata( User_id : str ): 
Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.

In [1]:
#importar las librerias
import pandas as pd
import numpy as np

In [2]:
# Leer dataframe de videjuegos solo con las columnas que se necesitan
columns = ['id', 'price']
df_precios = pd.read_csv("steam_games.csv", usecols=columns)
df_precios.head()

          price        id
0          4.99  761140.0
1  Free To Play  643980.0
2  Free to Play  670290.0
3          0.99  767400.0
4          2.99  773570.0

In [3]:
# Verificar que los datatypes estén bien y no haya nulos
df_precios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   30758 non-null  object
 1   id      32133 non-null  float64
dtypes: float64(1), object(1)
memory usage: 502.2+ KB

In [4]:
# Función para corregir el precio, en el que aparecen valores numéricos y en formato string
def fix_price(df):

    errors_list = []
    for i in df['price']:
        try:
            float(i)
        except:
            errors_list.append(i)

    errors = set(errors_list)
    #uniques_not_free = ['Starting at $499.00', 'Starting at $449.00']
    df['price_fixed'] = df['price'].apply(lambda x: 0 if x in errors 
                                                        else 499.0 if x=='Starting at $499.00'
                                                        else 449.0 if x=='Starting at $449.00'
                                                        else x)
    df['price_fixed'] = df['price_fixed'].astype(float)
    return df

In [5]:
# Aplicar la función al dataframe
df_precios = fix_price(df_precios)
# Renombrar la columna de id 
df_precios.rename(columns={'id':'item_id'},inplace=True)
# Eliminar la antigua columna de precio
df_precios.drop(columns='price', inplace=True)
df_precios.head()

    item_id  price_fixed
0  761140.0         4.99
1  643980.0         0.00
2  670290.0         0.00
3  767400.0         0.99
4  773570.0         2.99

In [6]:
# Verificar nulos
df_precios.isna().sum()

item_id           2
price_fixed    1377
dtype: int64

In [7]:
# Reemplazar nulos en el precio con 0
df_precios.fillna(0, inplace=True)

In [8]:
# Leer el daraframe de user items solo con las columnas que se necesitan
columns = ['steam_id', 'item_id', 'items_count']
user_items = pd.read_csv("game_items.csv", usecols=columns)
user_items.head()
user_items.rename(columns={"steam_id":"user_id"},inplace=True)
user_items["user_id"]=user_items["user_id"].astype(str)

In [9]:
# Hacer un merge (left join) de ambos dataframes on item_id
df_merged = user_items.merge(df_precios, on='item_id', how='left')
df_merged.sample(10)

                   user_id  items_count  item_id  price_fixed
2948235  76561198081247445           92   109600         0.00
1817942  76561198062494118           52   252490        19.99
4347973  76561198045064255          207   221910        14.99
1250650  76561198018626266          119   247430         6.99
4240849  76561198039229442           49   212910          NaN
147254   76561198057146794          248     2320         4.99
3391923  76561198057184740           75   218230         0.00
1525041  76561198079332942           55   228940          NaN
138689   76561198066881691          303   207140        14.99
748945   76561197960577481          167     6300        19.99

In [10]:
# Group by usuario para obtener el total de dinero gastado en videojuegos
user_spent = df_merged.groupby('user_id')['price_fixed'].agg('sum')
user_spent = pd.DataFrame(user_spent)
user_spent.reset_index(inplace=True)
user_spent["user_id"]=user_spent["user_id"].astype(str)

In [11]:
# Leer dataframe de reviews solo con las columnas que se necesitan
columns = ['user_id', 'recommend']
user_revs = pd.read_csv('game_reviews.csv', usecols=columns)
user_revs.sample(5)

                 user_id recommend
1753   76561198046045640      True
15360  76561198055815784      True
7857      12312312332123      True
692    76561198085956238      True
15932      Naranjita3560      True

In [12]:
# Calcular el porcentaje de recomendación para cada usuario
# Crear un df vacío
user_gb_count_revs = pd.DataFrame()
# Agrupar por user_id y agregar por conteo de recommend para obtener el total de reviews
user_gb_count_revs['count_total'] = user_revs.groupby('user_id')['recommend'].agg('count')
# Contar solo los recommend = True por usuario
user_gb_count_revs['count_true'] = user_revs[user_revs['recommend'] == True].groupby('user_id')['recommend'].agg(count_revs='count')
user_gb_count_revs.reset_index(inplace=True)
# Calcular la proporción de True entre el total
user_gb_count_revs['reco_porcentaje'] = user_gb_count_revs['count_true'] / user_gb_count_revs['count_total'] * 100
user_gb_count_revs.fillna(0,inplace=True)
user_gb_count_revs.sample(5)

                  user_id  count_total  count_true  reco_porcentaje
16306  Raiseyourdongersss           10         9.0             90.0
10572   76561198097640986            1         1.0            100.0
24207       storm_is_epic            3         3.0            100.0
5559    76561198064468415            1         1.0            100.0
7970    76561198078397452            1         1.0            100.0

In [13]:
# Hacer un merge (left join) de los df de reviews y user_spent anteriormente creados
df_merge2 = user_gb_count_revs.merge(user_spent, on='user_id',how='left' )
df_merge2.rename(columns={'price_fixed':'total_spent'},inplace=True)
df_merge2.sample(10)

,user_id,count_total,count_true,reco_porcentaje,total_spent
6185,76561198067960387,1,1.0,100.0,NaN
23126,pikawuu2,2,2.0,100.0,NaN
18294,agsfgdikmcfhjcttz,1,1.0,100.0,NaN
5067,76561198061332254,1,1.0,100.0,NaN
14200,HeadShootPlay,1,1.0,100.0,NaN
12408,BIG_FAT_BOOBS,2,2.0,100.0,NaN
19585,davo27,1,1.0,100.0,NaN
15775,NoCnNoJustice,1,1.0,100.0,NaN
12533,BigUnna,1,1.0,100.0,NaN
9108,76561198085567114,2,2.0,100.0,910.6

In [14]:
# # Se realiza otro merge con la tabla de user_items para obtener el total de items por usuario
df_merge3 = df_merge2.merge(user_items[['user_id','items_count']].drop_duplicates(),on='user_id',how='left')
# Se eliminan columnas innecesarias
df_merge3 = df_merge3.drop(['count_total','count_true'],axis=1)
# Renombrar columnas
df_merge3.rename(columns={
    'reco_porcentaje':'porcentaje_recomendacion', 'total_spent':'cantidad_gastada', 'items_count':'cantidad_items'},inplace=True)

In [15]:
# Guardar el dataframe final como csv para consumir en la API
df_merge3.to_csv('df-funcion-1-1.csv',index=False)

In [16]:
# Función de la consulta para obtener el dinero total gastado, cantidad de items 
# y porcentaje de recomendación por usuario
def userdata(user_id : str):
    df_user = pd.read_csv('df-funcion-1-1.csv')
    user_data = df_user[df_user['user_id'] == user_id]
    
    return user_data.to_json(orient='records')

In [18]:
userdata("pikawuu2")

'[{"user_id":"pikawuu2","porcentaje_recomendacion":100.0,"cantidad_gastada":null,"cantidad_items":null}]'