def userdata( User_id : str ): 
Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.

In [780]:
import pandas as pd
import numpy as np

In [781]:
df_items=pd.read_csv("game_items.csv",usecols=["item_id","steam_id","items_count"])
df_recomendados=pd.read_csv("game_reviews.csv",usecols=["item_id","user_id","recommend"])
df_precios=pd.read_csv("steam_games.csv",usecols=["id","price"])

In [782]:
df1 = pd.read_csv("game_items.csv",usecols=["steam_id","items_count"])

In [783]:
df1.drop_duplicates(keep='first')

                  steam_id  items_count
0        76561197970982479          277
277      76561198035864385          888
1165     76561198007712555          137
1302     76561197963445855          328
1630     76561198002099482          541
...                    ...          ...
5152678  76561198320136420          321
5152999  76561198321542621            4
5153003  76561198323066619           22
5153025  76561198326700687          177
5153202  76561198329548331            7

[70912 rows x 2 columns]

In [784]:
df_precios

              price        id
0              4.99  761140.0
1      Free To Play  643980.0
2      Free to Play  670290.0
3              0.99  767400.0
4              2.99  773570.0
...             ...       ...
32130          1.99  773640.0
32131          4.99  733530.0
32132          1.99  610660.0
32133          4.99  658870.0
32134          4.99  681550.0

[32135 rows x 2 columns]

In [785]:
list_string=[]
for i in df_precios["price"]:
    try:
        float(i)
    except:
        list_string.append(i)

print(list_string)

['Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free Demo', 'Free Demo', 'Play for Free!', 'Free to Play', 'Play for Free!', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Install Now', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Play WARMACHINE: Tactics Demo', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free Mod', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Install Theme', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Third-party', 'Free to Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Play Now', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free HITMAN™ Holiday Pack', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free to Play', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free Mod', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free to Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free To Play', 'Free To Play', 'Free to Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free to Play', 'Free To Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Play the Demo', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free To Play', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free To Play', 'Free to Play', 'Free', 'Free', 'Free To Play', 'Free', 'Free to Play', 'Free to Play', 'Free To Play', 'Free', 'Free To Play', 'Free To Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free', 'Free', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free to Play', 'Free',

In [786]:
list_string=set(list_string)
list_string=list(list_string)

In [787]:
del list_string [5]
del list_string [7]

In [788]:
list_string

['Free to Play',
 'Free Mod',
 'Free Movie',
 'Free Demo',
 'Install Theme',
 'Play WARMACHINE: Tactics Demo',
 'Install Now',
 'Free to Use',
 'Third-party',
 'Play Now',
 'Free',
 'Free HITMAN™ Holiday Pack',
 'Free to Try',
 'Free To Play',
 'Play the Demo',
 'Play for Free!']

In [789]:
df_precios['price'] = df_precios['price'].apply(lambda x: 0 if x in list_string
                                                        else 499.0 if x=='Starting at $499.00'
                                                        else 449.0 if x=='Starting at $449.00'
                                                        else x)

In [790]:
df_precios["price"].fillna(df_precios['price'].median(), inplace=True)
df_precios["price"]=df_precios["price"].astype(float)

In [791]:
df_precios

       price        id
0       4.99  761140.0
1       0.00  643980.0
2       0.00  670290.0
3       0.99  767400.0
4       2.99  773570.0
...      ...       ...
32130   1.99  773640.0
32131   4.99  733530.0
32132   1.99  610660.0
32133   4.99  658870.0
32134   4.99  681550.0

[32135 rows x 2 columns]

In [792]:
df_precios["id"].fillna(method="ffill",inplace=True)

In [793]:
df_precios.isna().sum()

price    0
id       0
dtype: int64

In [812]:
df_precios.rename(columns={"id":"item_id"}, inplace=True)
df_precios["item_id"]=df_precios["item_id"].astype(str)

In [813]:
df_precios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    32135 non-null  float64
 1   item_id  32135 non-null  object
dtypes: float64(1), object(1)
memory usage: 502.2+ KB

In [807]:
df_recomendados["item_id"]=df_recomendados["item_id"].astype(str)

In [814]:
df_merged=df_recomendados.merge(df_precios,on='item_id', how='left')

In [816]:
df_merged["price"].fillna(df_merged['price'].median(), inplace=True)

In [817]:
df_merged

                 user_id   item_id recommend  price
0      76561197970982479    1250.0      True  19.99
1      76561197970982479   22200.0      True   9.99
2      76561197970982479   43110.0      True   9.99
3                js41637  251610.0      True   9.99
4                js41637  227300.0      True  19.99
...                  ...       ...       ...    ...
59330  76561198312638244      70.0      True   9.99
59331  76561198312638244  362890.0      True  19.99
59332        LydiaMorley  273110.0      True   0.00
59333        LydiaMorley     730.0      True  14.99
59334        LydiaMorley     440.0      True   0.00

[59335 rows x 4 columns]

In [822]:
#gasto por id
df_gastoxid=df_merged.iloc[:,[0,3]].groupby("user_id").sum()

In [825]:
df_gastoxid[df_gastoxid["price"]>19.99]

              price
user_id
--000--       19.99
--ace--        4.99
--ionex--     24.98
-2SV-vuLB-Kg  74.96
-Azsael-      29.99
...             ...
zwanzigdrei    0.00
zy0705         0.00
zynxgameth     0.00
zyr0n1c       94.94
zzoptimuszz    9.99

[25485 rows x 1 columns]

In [673]:
#df_precios[df_precios["id"]=="612880"]["price"].sum()

119.98